.catalogContent {
  position: relative;
  margin-top: 20px;
  overflow: hidden;
  border-radius: 20px;
  background: rgba(64, 64, 64, 0.6);
  padding: 33px 28px;
  min-height: 300px;
  margin-bottom: 80px;
  .gridWrap {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 28px;
    grid-row-gap: 28px;
  }
  .notFoundText {
    text-align: center;
    font-size: 60px;
    margin-top: 100px;
  }
  .pagintaion {
    margin: 0 auto;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    list-style: none;
    .page a {
      display: flex;
      margin: 0 10px;
      align-items: center;
      justify-content: center;
      width: 40px;
      background: #1b1b1b;
      height: 40px;
      border: 1px solid transparent;
      cursor: pointer;
      border-radius: 100%;
      transition: 0.3s;
    }
    .activePage a {
      color: #00f0ff;
      border: 1px solid #00f0ff;
    }
  }
  .loadMore {
    margin: 110px auto 0;
    cursor: pointer;
    display: block;
    width: 150px;
    padding: 7px 0;
    text-align: center;
    background: #00f0ff;
    border-radius: 10px;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: #ffffff;
    border: none;
  }
}
