.errorBlock{
  position: absolute;
  left: 0;
  top: -50px;
  width: 100%;
  display: block;
  text-align: center;
  border: 1px solid red;
  border-radius: 10px;
  padding: 10px 15px;
  background: #2B2B2B;
}