.content {
  margin-top: 20px;
  padding: 30px;
  border-radius: 20px;
  background: #2b2b2b;
  .mainDescr {
    display: flex;
    align-items: flex-start;
    margin-bottom: 70px;
    .imgWrap {
      overflow: hidden;
      border-radius: 15px;
      min-width: 300px;
      height: 450px;
      margin-right: 50px;
      img {
        min-height: 100%;
        width: 100%;
      }
    }
    .descr {
      .name {
        font-size: 24px;
        margin-bottom: 20px;
      }
    }
  }
  .title {
    font-size: 40px;
    margin-bottom: 30px;
  }
  .anime {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    .item {
      .imgWrap {
        width: 250px;
        overflow: hidden;
        height: 350px;
        border-radius: 15px;
        margin-bottom: 20px;
        transition: .5s;
        border: 1px solid transparent;
        img {
          width: 100%;
          min-height: 100%;
          transition: .5s;
        }
      }
      &:hover {
        .imgWrap {
          border: 1px solid #00F0FF;
          img {
            transform: scale(1.05);
          }
        }
      }
      .title {
        color: #fff;
        font-size: 16px;
      }
    }
  }
}
