@import "assets/fonts/fonts";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Futura PT', serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
}

.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}