@import "assets/fonts/fonts";
@import "./Components/variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Futura PT', serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  background: $main-bg;
}

body, html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1460px;
  padding: 0 20px;
  margin: 0 auto;
}