@import "assets/fonts/fonts";
@import "./Components/variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Futura PT", serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background: $main-bg;
}

body,
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1460px;
  padding: 0 20px;
  margin: 0 auto;
}

.PopUp-enter {
  opacity: 0;
}
.PopUp-enter-active {
  opacity: 1;
  transition: opacity 300ms, transform 300ms;
}
.PopUp-exit {
  opacity: 1;
}
.PopUp-exit-active {
  opacity: 0;
  transition: opacity 500ms, transform 300ms;
}

.content-enter {
  opacity: 0;
}
.content-enter-active {

  opacity: 1;
  transition: opacity 500ms, transform 300ms;
}
.content-exit {
  opacity: 1;
}
.content-exit-active {
  display: none;
  opacity: 0;
  transition: opacity 500ms, transform 300ms;
}
